In [1]:
pwd

'd:\\Fraud-detection\\research'

In [3]:
import os
os.chdir('D:\Fraud-detection')

In [4]:
pwd

'D:\\Fraud-detection'

In [5]:
data = r'artifacts\data\fraud.csv'

In [6]:
import pandas as pd

df = pd.read_csv(data)
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [32]:
df.shape

(284807, 31)

DATASET INFORMATION

Due to confidentiality issues, they cannot provide the original features and more background information about the data from V1-V8.
- 'Time': contains the seconds elapsed between each transaction and the first transaction in the dataset.
- 'Amount': is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning.
- 'Class': is the response variable and it takes value 1 in case of fraud and 0 otherwise

DATA CHECKING

- Check missing values
- Check data type
- Check the number of unique values of target column

In [33]:
#Check missing values
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [34]:
#Check data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [35]:
# Check number of values in target column
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [36]:
# Check the statistics of the dataset
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [9]:
from sklearn.preprocessing import StandardScaler, RobustScaler

# RobustScaler is less prone to outliers.

std_scaler = StandardScaler()
rob_scaler = RobustScaler()

df['scaled_amount'] = rob_scaler.fit_transform(df['Amount'].values.reshape(-1,1))
df['scaled_time'] = rob_scaler.fit_transform(df['Time'].values.reshape(-1,1))
df.drop(['Time','Amount'], axis=1, inplace=True)

scaled_amount = df['scaled_amount']
scaled_time = df['scaled_time']

df.drop(['scaled_amount', 'scaled_time'], axis=1, inplace=True)
df.insert(0, 'scaled_amount', scaled_amount)
df.insert(1, 'scaled_time', scaled_time)

df = df.sample(frac=1)

# amount of fraud classes 492 rows.
fraud_df = df.loc[df['Class'] == 1]
non_fraud_df = df.loc[df['Class'] == 0][:492]

normal_distributed_df = pd.concat([fraud_df, non_fraud_df])

# Shuffle dataframe rows
new_df = normal_distributed_df.sample(frac=1, random_state=42)

new_df.head()

,scaled_amount,scaled_time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Class
265470,-0.027947,0.907036,1.988551,-0.259171,-1.242288,0.194058,0.242443,0.478250,-0.677541,0.189960,...,-0.031418,0.189682,0.705937,0.002777,-0.226345,-0.108175,0.645807,-0.014709,-0.032187,0
6331,-0.293440,-0.906566,0.008430,4.137837,-6.240697,6.675732,0.768307,-3.353060,-1.631735,0.154612,...,0.488378,0.364514,-0.608057,-0.539528,0.128940,1.488481,0.507963,0.735822,0.513574,1
155707,-0.019982,0.252529,0.306045,0.129630,-0.322723,-2.054677,0.874489,-1.109983,1.066979,-0.686680,...,-0.065784,0.109870,0.752654,-0.181203,-0.613334,-0.647642,-0.367835,0.000661,-0.001134,0
192382,-0.279466,0.528390,0.753356,2.284988,-5.164492,3.831112,-0.073622,-1.316596,-1.855495,0.831079,...,0.285792,0.382007,0.033958,0.187697,0.358433,-0.488934,-0.258802,0.296145,-0.047174,1
81186,0.330329,-0.303927,-4.384221,3.264665,-3.077158,3.403594,-1.938075,-1.221081,-3.310317,-1.111975,...,-0.141533,2.076383,-0.990303,-0.330358,0.158378,0.006351,-0.493860,-1.537652,-0.994022,1

In [7]:
from imblearn.combine import SMOTEENN
from collections import Counter
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Class'], axis=1)
y = df['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=42)

counter = Counter(y_train)
print(f'Befor: {counter}')
smt = SMOTEENN()

X_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)
counter_1 = Counter(y_train_sm)
print(f'After: {counter_1}')

Befor: Counter({0: 213236, 1: 369})
After: Counter({0: 213236, 1: 213236})

In [10]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from xgboost import XGBClassifier
from sklearn.metrics import f1_score, recall_score, precision_score
from timeit import default_timer as timer

def evaluate_model(true, predicted):
    f1score = f1_score(true, predicted)
    recallscore = recall_score(true, predicted)
    precisionscore = precision_score(true, predicted)
    return f1score, recallscore, precisionscore


models = {
    'SVM': SVC(),
    "Gaussian Process":GaussianProcessClassifier(),
    "Decision Tree":DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Neural Net":MLPClassifier(),
    "AdaBoost":AdaBoostClassifier(),
    "Naive Bayes": GaussianNB(),
    "QDA":QuadraticDiscriminantAnalysis(),
    "XGB":XGBClassifier()
}

model_list = []
recall_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    start_time = timer()
    model.fit(X_train_sm, y_train_sm) # Train model
    # Make predictions
    y_train_pred = model.predict(X_train_sm)
    y_test_pred = model.predict(X_test)
    end_time = timer()

    # Evaluate Train and Test dataset
    f1score_train , recallscore_train, precisionscore_train = evaluate_model(y_train, y_train_pred)

    f1score_test , recallscore_test, precisionscore_test = evaluate_model(y_test, y_test_pred)

    
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- F1 score on training set: {:.4f}".format(f1score_train))
    print("- Recall score on training set: {:.4f}".format(recallscore_train))
    print("- Precision score on training set: {:.4f}".format(precisionscore_train))
    print('----------------------------------')
    print('Model performance for Test set')
    print("- F1 score on testing set: {:.4f}".format(f1score_test))
    print("- Recall score on testing set: {:.4f}".format(recallscore_test))
    print("- Precision score on testing set: {:.4f}".format(precisionscore_test))
    print('----------------------------------')
    print(f"Total training time: {end_time-start_time:.3f} seconds")
    
    recall_list.append(recallscore_test)
    print('='*35)
    print('\n')